<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P1</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
		</array>
		<key>printWidth</key>
		<integer>48</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>200</integer>
		<key>imageWidth</key>
		<integer>384</integer>
		<key>maxWidth</key>
		<integer>384</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>MiaoMiaoJi</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
		</array>
		<key>printWidth</key>
		<integer>48</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>200</integer>
		<key>imageWidth</key>
		<integer>384</integer>
		<key>maxWidth</key>
		<integer>384</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>T1</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>12</string>
		</array>
		<key>printWidth</key>
		<integer>8</integer>
		<key>feedLine</key>
		<integer>150</integer>
		<key>dpi</key>
		<integer>200</integer>
		<key>imageWidth</key>
		<integer>64</integer>
		<key>maxWidth</key>
		<integer>64</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>P2</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
		</array>
		<key>printWidth</key>
		<integer>72</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>576</integer>
		<key>maxWidth</key>
		<integer>576</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>P2S</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
		</array>
		<key>printWidth</key>
		<integer>72</integer>
		<key>feedLine</key>
		<integer>100</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>576</integer>
		<key>maxWidth</key>
		<integer>576</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>P2L</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
		</array>
		<key>printWidth</key>
		<integer>48</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>200</integer>
		<key>imageWidth</key>
		<integer>384</integer>
		<key>maxWidth</key>
		<integer>384</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>P3</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>79</string>
		</array>
		<key>printWidth</key>
		<integer>108</integer>
		<key>feedLine</key>
		<integer>220</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>864</integer>
		<key>maxWidth</key>
		<integer>864</integer>
		<key>packageLength</key>
		<integer>1944</integer>
	</dict>
	<key>C1</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>110</string>
		</array>
		<key>printWidth</key>
		<integer>156</integer>
		<key>feedLine</key>
		<integer>140</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>1248</integer>
		<key>maxWidth</key>
		<integer>1248</integer>
		<key>packageLength</key>
		<integer>1024</integer>
	</dict>
	<key>C1S</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
			<string>79</string>
			<string>110</string>
		</array>
		<key>printWidth</key>
		<integer>156</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>1248</integer>
		<key>maxWidth</key>
		<integer>1248</integer>
		<key>packageLength</key>
		<integer>1024</integer>
	</dict>
	<key>C5</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>110</string>
			<string>210</string>
		</array>
		<key>printWidth</key>
		<integer>156</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>1248</integer>
		<key>maxWidth</key>
		<integer>1248</integer>
		<key>packageLength</key>
		<integer>1024</integer>
	</dict>
	<key>D1</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>57</string>
		</array>
		<key>printWidth</key>
		<integer>48</integer>
		<key>feedLine</key>
		<integer>280</integer>
		<key>dpi</key>
		<integer>200</integer>
		<key>imageWidth</key>
		<integer>384</integer>
		<key>maxWidth</key>
		<integer>384</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>bang-S1</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>79</string>
		</array>
		<key>printWidth</key>
		<integer>72</integer>
		<key>feedLine</key>
		<integer>100</integer>
		<key>dpi</key>
		<integer>200</integer>
		<key>imageWidth</key>
		<integer>576</integer>
		<key>maxWidth</key>
		<integer>576</integer>
		<key>packageLength</key>
		<integer>1008</integer>
	</dict>
	<key>P3 Pro</key>
	<dict>
		<key>supportSize</key>
		<array>
			<string>79</string>
		</array>
		<key>printWidth</key>
		<integer>108</integer>
		<key>feedLine</key>
		<integer>220</integer>
		<key>dpi</key>
		<integer>300</integer>
		<key>imageWidth</key>
		<integer>864</integer>
		<key>maxWidth</key>
		<integer>864</integer>
		<key>packageLength</key>
		<integer>1944</integer>
	</dict>
</dict>
</plist>
